h1 {
    background: yellow;
    color: saddlebrown;
    text-align: center;
    border-radius: 20px;
}

.family {
    background: yellow;
    color: saddlebrown;
    border-radius: 20px;
    font-style: italic;
}

.homer {
    background: yellow;
    color: saddlebrown;
    border-radius: 20px;
    font-style: italic;
}

ul {
    background: yellow;
    color: saddlebrown;
    border-radius: 20px;
}

.bart {
    background: yellow;
    color: saddlebrown;
    border-radius: 20px;
    font-style: italic;
}

.lisa {
    background: yellow;
    color: saddlebrown;
    border-radius: 20px;
    font-style: italic;
}


